:root {
    --piece-size: 1;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: slategray;
    text-align: center;
}

body>div>div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

#header {
    margin: auto;
    width: 80%;
    height: 10%;
}

#pieces {
    margin: auto;
    width: 80%;
    height: 80%;
}

#banner {
    display: inline-block;
    border: 0.15vmin solid black;
    border-radius: 1vmin;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
    width: 24vmin;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    cursor: default;
}

#menu {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#more {
    width: 5vmin;
    height: auto;
}

#options {
    display: none;
    position: absolute;
    right: 0pt;
    margin-top: 1vmin;
    background-color: mintcream;
    border: 0.1vmin solid black;
    border-radius: 2vmin;
    font-size: 3vmin;
    width: 30vmin;
    min-width: 3em;
    box-shadow: 0pt 0pt 5vmin black;
    z-index: 1000;
}

#options>div {
    cursor: default;
    padding: 2vmin;
}

#options>div:not(:first-child) {
    border-top: 0.2vmin solid gray;
}

#pieces {
    position: relative;
}

#pieces>span {
    position: absolute;
    z-index: 99;
    width: calc(var(--piece-size) * 0.8vmin);
    height: calc(var(--piece-size) * 0.8vmin);
    line-height: calc(var(--piece-size) * 0.8vmin);
    font-size: calc(var(--piece-size) * 0.5vmin);
    border-radius: calc(var(--piece-size) * 0.4vmin);
    text-decoration: none;
    cursor: default;
    background-color: ivory
}

#pieces>span[data-state="0"] {
    color: transparent;
}

#pieces>span[data-state="1"] {
    color: black;
}

#pieces>span[data-state="2"] {
    color: transparent;
}

#pieces>span[data-state="3"] {
    color: green;
}

#pieces>span[data-state="4"] {
    color: red;
}
